@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #c8d8e4;
    --accent1-color: #52ab98;;
    --accent2-color: #381d2a;
    --background-color: #f4f4f9;
    --font-family: 'Roboto', sans-serif;
  
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
  
    --nav-background-color: #396e94;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #e7c24f;
    --nav-hover-background-color: #a43312;
  }

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

header img {
    height: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.hero .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
    z-index: -1;
}

.hero h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    color: var( --nav-hover-link-color);
    
}

.hero .hero-content {
    padding: 20px;
    border-radius: 10px;
    
}

.mission-statement {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-size: cover;
    background:  rgba(148, 152, 154, 0.0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--nav-hover-link-color);
    
}

.mission-statement p {
    flex: 1;
    margin: 0;
    text-align: justify;
}

.mission-statement img {
    max-width: 200px;
    border-radius: 10px;
    margin-left: 20px;
}


section {
    padding: 20px;
    text-align: left;
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

figure img {
    width: 250px;
    display: block;
    border-radius: 8px;
}

figcaption {
    text-align: left;
    padding: 10px 0;
    
    border-radius: 0 0 8px 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

footer p {
    margin: 0;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
}

footer a img {
    height: 30px;
}
