
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #396e94;
  --secondary-color: #c8d8e4;
  --accent1-color: #52ab98;;
  --accent2-color: #381d2a;
  --background-color: #f4f4f9;
  --font-family: 'Roboto', sans-serif;

  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  --nav-background-color: #396e94;
  --nav-link-color: #ffffff;
  --nav-hover-link-color: #e7c24f;
  --nav-hover-background-color: #a43312;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: var(--primary-color);
  color: #ffffff;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}

p {
  padding: 25px;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
